<% provide :title, t(".home") %>
<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
  <h2>
    <%= t ".intro1" %>
    <%= link_to t(".intro3"), Settings.url.rails_tutorial_url %>
    <%= t ".intro2" %>
  </h2>
  <%= link_to t(".signupnow"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
