<h1><%= t(".subject") %></h1>
<p><%= t(".intro1") %></p>
<%= link_to t("password_resets.edit.reset_password"),
    edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t(".intro2") %></p>
<p><%= t(".intro3") %></p>
