<%= form_for(@micropost) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t(".placeholder") %>
  </div>
  <span class="image">
    <%= f.file_field :image, accept: Settings.micropost.accept_path %>
  </span>
  <%= f.submit t(".post_text"), class: "btn btn-primary" %>
<% end %>
