<footer class="footer">
  <small>
    <%= link_to "Ruby on Rails Tutorial", Settings.url.rails_tutorial_url %>
    <%= t ".by" %>
    <%= link_to "Michael Hartl", Settings.url.author_url %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), Settings.url.rails_news_url %></li>
    </ul>
  </nav>
</footer>
